# Observations and Insights

In [33]:
# import necessary libraries
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# read data results
mouse_metadata = pd.read_csv("data/Mouse_metadata.csv")
study_results = pd.read_csv("data/Study_results.csv")

#combining the data into one data frame
complete_mouse_data = pd.merge(mouse_metadata, study_results, on="Mouse ID")
complete_mouse_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [71]:
#finding number of mice in the dataframe
print(len(complete_mouse_data["Mouse ID"].unique()))

249

In [86]:
#pulling out all dupicate mice by ID number and getting their indicies
bad_mice_location = complete_mouse_data.loc[(complete_data.duplicated() == True), :].index
#finding the "Mouse ID"s for the duplicate mice
bad_mice = complete_mouse_data.iloc[bad_mice_location]["Mouse ID"]

#dropping the data related to the bad mice by only keeping the non-duplicated mice's data
cleaned_mouse_data = complete_mouse_data.loc[complete_mouse_data["Mouse ID"].values != bad_mice.values, :]
cleaned_mouse_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [84]:
#finding number of mice in the cleaned dataframe
print(len(cleaned_mouse_data["Mouse ID"].unique()))

248